body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
.checkedInTime {
  font-size: 12px;
}
.videoPlayerDIV {
  max-height: 800px;
  width: 100%;
}
.videoPlayerCalendarCOL {
  min-height: 400px;
  overflow: hidden;
}
.homeContainer {
  height: auto;
  overflow: hidden;
}
.timePickerVideos {
  max-height: 600px;
}
.settingsDIV {
  min-width: 100%;
  min-height: 1000px;
}
.timesListGroup {
  max-height: 280px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.react-calendar {
  min-width: 100%;
}
.marginLogidIn {
  margin-right: 10px;
}

.nodeListHomePage {
  max-height: 300px;
  overflow-y: scroll;
}
.nodeListOffLineHomePage {
  max-height: 300px;
  overflow-y: scroll;
}
.nodeTableOverflow {
  max-height: 90%px;
  overflow-y: scroll;
}
.chartBox {
  height: 95%;
  width: 100%;
}
.text-left {
  text-align: left !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.custom-modal {
  min-width: 100% !important;
  height: auto;
}
.custom-modal-streaming {
  min-width: 95% !important;
  height: auto;
}
.modal-content {
  min-width: 100% !important;
}
.customModalNewNode {
  min-width: 40%;
  height: auto;
}
.SystemLineChart {
  height: 200px;
}
