body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.checkedInTime {
  font-size: 12px;
}
.videoPlayerDIV{
max-height: 800px ;
  
}
.videoPlayerCalendarCOL{
min-height: 400px;
 overflow:hidden

}
.homeContainer {
  max-height: 800px;
  overflow:hidden
}
.timePickerVideos {
max-height: 600px;

}
.settingsDIV{
max-height: 800px;
min-width: 100%;
}
.timesListGroup{
max-height: 280px;
overflow-y: scroll;
overflow-x:hidden
}
.react-calendar{
  min-width: 100%;


}
.marginLogidIn{
  margin-right: 10px;


}


.cameraListHomePage{
max-height: 400px;
overflow-y: scroll;
}

.chartBox{
  height: 95%;
width: 100%;

}
.text-left{
  text-align: left  !important;;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.custom-modal {
  min-width: 95%;
  height: auto;
}
